* {
  box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }

body {
  background-color: #000;
  font: normal 16px/21px BlinkMacSystemFont, -apple-system, Roboto, Helvetica Neue, sans-serif;
  color: #777;
  margin: 1em; }

@media (max-width: 632px) {
  body {
    margin: 0; } }
canvas {
  display: block;
  margin: 0 auto;
  background-color: #000; }

.controls {
  max-width: 350px;
  margin: 0 auto 1em;
  padding: 1em; }

label {
  display: block; }

output, label span {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0; }

.slider {
  margin: 0 0 2em;
  position: relative; }
  .slider input[type=range] {
    display: block;
    width: 100%;
    margin: 1em auto;
    background: none;
    border: none;
    -webkit-appearance: none; }
    .slider input[type=range]:focus {
      outline: none; }
    .slider input[type=range]:focus::-webkit-slider-runnable-track {
      outline: none;
      background-color: Gold; }
    .slider input[type=range]:focus::-webkit-slider-thumb {
      outline: none;
      background-color: Gold; }
    .slider input[type=range]:focus::-moz-range-track {
      outline: none;
      background-color: Gold; }
    .slider input[type=range]:focus::-moz-range-thumb {
      outline: none;
      background-color: Gold; }
  .slider input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background-color: #777;
    height: 5px; }
  .slider input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #777;
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%;
    margin-top: -8px; }
  .slider input[type=range]::-moz-range-track {
    box-shadow: 0 0 0 transparent, 0 0 0 transparent;
    background-color: #777;
    height: 5px; }
  .slider input[type=range]::-moz-range-thumb {
    background-color: #777;
    width: 15px;
    height: 15px;
    border: 3px solid #333;
    border-radius: 50%; }
  .slider input[type=range]::-ms-track {
    background-color: #777;
    height: 5px; }
  .slider input[type=range]::-ms-thumb {
    background-color: #777;
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%; }
  .slider input[type=range]::-ms-fill-lower {
    background-color: #000; }
  .slider input[type=range]::-ms-fill-upper {
    background-color: #000; }

#color-picker {
  display: none; }

.hsl {
  margin: 0 0 2em;
  position: relative; }
  .hsl input[type=range] {
    -webkit-appearance: none;
    margin: 1em auto;
    padding: 0;
    height: 26px;
    width: 100%;
    border: none;
    background: none;
    display: block; }
    .hsl input[type=range]:focus {
      outline: none; }
    .hsl input[type=range]:focus::-webkit-slider-runnable-track {
      background: transparent; }
  .hsl input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 26px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
    border-radius: 0px;
    border: 1px solid black; }
  .hsl input[type=range]::-webkit-slider-thumb {
    box-shadow: inset 0px 0px 0 1px black, 0px 0px 0 1px black;
    border: 3px solid white;
    border-radius: 0;
    height: 28px;
    width: 20px;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2px; }
  .hsl input[type=range]::-moz-range-track {
    width: 100%;
    height: 26px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
    background: transparent;
    border-radius: 0px;
    border: 1px solid black; }
  .hsl input[type=range]::-moz-range-thumb {
    box-shadow: inset 0px 0px 0 1px black, 0px 0px 0 1px black;
    border: 3px solid white;
    border-radius: 0;
    height: 28px;
    width: 20px;
    background: transparent;
    cursor: pointer;
    margin-top: -2px; }
  .hsl #hue {
    background: linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%); }

.color-output span {
  display: inline-block;
  width: 50px;
  height: 50px; }

button {
  font: normal 16px/21px BlinkMacSystemFont, -apple-system, Roboto, Helvetica Neue, sans-serif;
  background-color: #333;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 3px;
  margin-right: 1em;
  cursor: pointer; }

.canvas_mandala main {
  max-width: 600px;
  margin: auto;
  display: block;
  position: relative; }
  .canvas_mandala main:before {
    display: block;
    content: '';
    padding-top: 100%; }
.canvas_mandala canvas {
  position: absolute;
  top: 0;
  left: 0; }
.canvas_mandala #canvas {
  z-index: 2;
  background-color: transparent; }
