* {
  box-sizing: border-box; }

*::after {
  box-sizing: border-box; }

*::before {
  box-sizing: border-box; }

body {
  background-color: #000;
  font: normal 16px/21px BlinkMacSystemFont, -apple-system, Roboto, Helvetica Neue, sans-serif;
  color: #777;
  margin: 1em; }

@media (max-width: 632px) {
  body {
    margin: 0; } }
canvas {
  display: block;
  margin: 0 auto;
  background-color: #000; }

.controls {
  max-width: 350px;
  margin: 0 auto 1em;
  padding: 1em; }

p {
  margin: 0 0 2em;
  position: relative; }

label {
  display: block; }

output {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #777;
  width: 20px;
  height: 20px;
  border: 3px solid #333;
  border-radius: 50%;
  margin-top: -8px; }

input[type=range]::-moz-range-thumb {
  background-color: #777;
  width: 15px;
  height: 15px;
  border: 3px solid #333;
  border-radius: 50%; }

input[type=range]::-ms-thumb {
  background-color: #777;
  width: 20px;
  height: 20px;
  border: 3px solid #333;
  border-radius: 50%; }

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background-color: #777;
  height: 5px; }

input[type=range] {
  display: block;
  width: 100%;
  margin: 1em auto;
  background: none;
  border: none;
  -webkit-appearance: none; }
  input[type=range]:focus {
    outline: none; }
  input[type=range]:focus::-webkit-slider-runnable-track {
    outline: none;
    background-color: Gold; }
  input[type=range]:focus::-webkit-slider-thumb {
    outline: none;
    background-color: Gold; }
  input[type=range]:focus::-moz-range-track {
    outline: none;
    background-color: Gold; }
  input[type=range]:focus::-moz-range-thumb {
    outline: none;
    background-color: Gold; }

input[type=range]::-moz-range-track {
  box-shadow: 0 0 0 transparent, 0 0 0 transparent;
  background-color: #777;
  height: 5px; }

input[type=range]::-ms-track {
  background-color: #777;
  height: 5px; }

input[type=range]::-ms-fill-lower {
  background-color: #000; }

input[type=range]::-ms-fill-upper {
  background-color: #000; }

.canvas_mandala main {
  max-width: 600px;
  margin: auto;
  display: block;
  position: relative; }
.canvas_mandala main:before {
  display: block;
  content: '';
  padding-top: 100%; }
.canvas_mandala canvas {
  position: absolute;
  top: 0;
  left: 0; }
.canvas_mandala #canvas {
  z-index: 2;
  background-color: transparent; }
