* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: #555;
  margin: 0;
  overflow: hidden;
  position: relative; }

#fullscreen {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
  cursor: pointer;
  display: inline-block; }
  #fullscreen svg {
    width: 32px;
    height: 32px; }
    #fullscreen svg path {
      fill: rgba(255, 255, 255, 0.5);
      transition: fill 0.1s ease-in; }
    #fullscreen svg:hover path {
      fill: white; }

#signature {
  position: fixed;
  left: 10px;
  bottom: 10px;
  font: normal 16px/21px BlinkMacSystemFont, -apple-system, "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
  display: inline-block;
  padding: 0 5px; }
  #signature a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5); }
    #signature a:hover {
      color: white; }

:-webkit-full-screen #signature,
:-webkit-full-screen #fullscreen {
  display: none; }

:-moz-full-screen #signature,
:-moz-full-screen #fullscreen {
  display: none; }

:-ms-fullscreen #signature,
:-ms-fullscreen #fullscreen {
  display: none; }

:fullscreen #signature,
:fullscreen #fullscreen {
  display: none; }

.canvas_dvd .logo {
  fill: cyan;
  transition: fill 0.2s ease-in; }
