* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: #555;
  margin: 0;
  overflow: hidden;
  position: relative; }

#fullscreen {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
  cursor: pointer;
  display: inline-block; }
  #fullscreen svg {
    width: 32px;
    height: 32px; }
    #fullscreen svg path {
      fill: rgba(255, 255, 255, 0.5);
      transition: fill 0.1s ease-in; }
    #fullscreen svg:hover path {
      fill: white; }

#signature {
  position: fixed;
  left: 10px;
  bottom: 10px;
  font: normal 16px/21px BlinkMacSystemFont, -apple-system, "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
  display: inline-block;
  padding: 0 5px; }
  #signature a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5); }
    #signature a:hover {
      color: white; }

:-webkit-full-screen #signature,
:-webkit-full-screen #fullscreen {
  display: none; }

:-moz-full-screen #signature,
:-moz-full-screen #fullscreen {
  display: none; }

:-ms-fullscreen #signature,
:-ms-fullscreen #fullscreen {
  display: none; }

:fullscreen #signature,
:fullscreen #fullscreen {
  display: none; }

.screensaver_dvd .logo {
  fill: cyan;
  transition: fill 0.2s ease-in; }

.screensaver_cube .box3d {
  width: 200px;
  height: 200px;
  margin: 0;
  position: relative;
  -webkit-transform-style: preserve-3d; }
  .screensaver_cube .box3d div {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    opacity: 0.5;
    transform-origin: 50% 50% -100px; }
.screensaver_cube .p1 {
  background: red;
  transform: perspective(600px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  animation: spin1 10s infinite linear; }
.screensaver_cube .p2 {
  background: green;
  animation: spin2 10s infinite linear; }
.screensaver_cube .p3 {
  background: blue;
  animation: spin3 10s infinite linear; }
.screensaver_cube .p4 {
  background: cyan;
  animation: spin4 10s infinite linear; }
.screensaver_cube .p5 {
  background: magenta;
  animation: spin5 10s infinite linear; }
.screensaver_cube .p6 {
  background: yellow;
  animation: spin6 10s infinite linear; }
@keyframes spin1 {
  to {
    transform: perspective(600px) rotateX(360deg) rotateY(450deg) rotateZ(0deg); } }
@keyframes spin2 {
  0% {
    transform: perspective(600px) rotateX(0deg) rotateY(270deg) rotateZ(0deg); }
  100% {
    transform: perspective(600px) rotateX(360deg) rotateY(630deg) rotateZ(0deg); } }
@keyframes spin3 {
  0% {
    transform: perspective(600px) rotateX(90deg) rotateY(0deg) rotateZ(0deg); }
  100% {
    transform: perspective(600px) rotateX(450deg) rotateY(0deg) rotateZ(-360deg); } }
@keyframes spin4 {
  0% {
    transform: perspective(600px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg); }
  100% {
    transform: perspective(600px) rotateX(270deg) rotateY(0deg) rotateZ(360deg); } }
@keyframes spin5 {
  0% {
    transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% {
    transform: perspective(600px) rotateX(360deg) rotateY(360deg) rotateZ(0deg); } }
@keyframes spin6 {
  0% {
    transform: perspective(600px) rotateX(0deg) rotateY(180deg) rotateZ(0deg); }
  100% {
    transform: perspective(600px) rotateX(360deg) rotateY(540deg) rotateZ(0deg); } }
.screensaver_globe .world {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: move; }
  .screensaver_globe .world .bg {
    background-image: url("/images/globe/space.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover; }
  .screensaver_globe .world .globe {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0; }
    .screensaver_globe .world .globe .pole {
      position: absolute;
      width: 530px;
      height: 530px;
      left: -265px;
      top: -265px;
      border-radius: 50% 50%;
      background-color: #fff; }
    .screensaver_globe .world .globe .doms-container {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 0;
      height: 0; }
    .screensaver_globe .world .globe .halo {
      background-image: url("/images/globe/globe.png");
      position: absolute;
      left: 50%;
      top: 50%;
      width: 730px;
      height: 715px;
      margin-left: -368px;
      margin-top: -350px; }
